@import "tailwindcss";

@layer components {
    .btn-primary {
        @apply inline-flex items-center gap-2 px-6 py-2.5 bg-[#0487e2] hover:bg-[#0463ca] text-white font-semibold rounded-xl transition-all shadow-sm hover:shadow-md transform hover:-translate-y-0.5 whitespace-nowrap;
    }
}